/* Main styling of the MakingOf layout */
.MakingOf {
	color: White;
	padding-top: 180px;
	width: 100%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 10%;
}

/* Styling the Thumbnail image */
.Thumbnail img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 15px;
}

/* Container of the MakingOf section */
.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	background-color: #1e1e1e;
	border-radius: 15px;
	box-sizing: border-box;
}

/* Styling information on the thumbnail */
.info {
	position: absolute;
	top: 70%;
	left: 26%;
}
.Descriptionn {
	margin-top: 70px;
	display: flex;
	width: 100%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	margin-bottom: 70px;
}

/* Styling the text of Description */
.Descriptionn h2 {
	margin: 0;
}
.Descriptionn p {
	font-weight: 100;
}

/* Styling video section */
iframe {
	border-radius: 15px;
	width: 400px;
	height: 250px;
}
.video {
	width: 50%;
}

/* Styling desc section */
.desc {
	width: 50%;
}

/* Styling extra footage section */
.ExtraFootage {
	margin-left: 7.5%;
	margin-bottom: 7.5%;
	width: 100%;
	justify-content: center;
}
.ExtraFootage img {
	width: 250px;
	margin-right: 20px;
	border-radius: 15px;
}
